<div class="container-fluid container-lg">
    <table class=" table mx-auto">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre del equipo</th>
                <th scope="col">Fundacion</th>
                <th scope="col">Jugadores</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{equipo.id}}</th>
                <td scope="row">{{equipo.nombre}}</td>
                <td scope="row">{{equipo.fundacion}}</td>
                <td scope="row">{{equipo.jugadores.length}}</td>
            </tr>
        </tbody>
    </table>

</div>